<header class="p-3 bg-dark text-white mb-4">
  <div class="header">
    <div class="d-flex flex-wrap align-items-center justify-content-center">
      <img class="logo" src="/images/icon.png" />
      <ul
        class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
      >
        <li><a href="/" class="titulo">Pipocando</a></li>
      </ul>
      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
        <input
          type="search"
          class="form-control form-control-dark"
          placeholder="Buscar filme..."
          id="texto-busca"
        />
      </form>
      <div class="text-end">
        <button
          onclick="buscar()"
          type="button"
          class="btn btn-outline-light me-2"
        >
          Pesquisar
        </button>
      </div>
    </div>
  </div>
</header>
<script>
  function buscar() {
    var texto = document.getElementById("texto-busca").value;
    window.location.href = "/filmes?texto=" + texto;
  }
</script>

<style>
  .logo {
    max-width: 80px;
  }

  header {
    justify-content: center;
  }

  .header {
    margin: 0 auto;
  }
  .titulo{
    font-size: xx-large;
    display: inline-block;
  padding: 0.5rem 1rem;
  text-decoration: solid;
  border: none;
  border-radius: 0.25rem;
  color: #ffffff;
  }

  .titulo-link:hover,
.titulo-link.active {
  color: #fff;
  cursor: pointer;
}
</style>
