<header class="p-3 bg-dark text-white mb-4">
  <div class="container">
    <div
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
    >
      <ul
        class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
      >
        <li><a href="/" class="nav-link px-2 text-white">Filmes</a></li>
        <li>
          <a href="/articles" class="nav-link px-2 text-white">Generos</a>
        </li>
        <li><a href="#" class="nav-link px-2 text-white">Sobre</a></li>
      </ul>
      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
        <input
          type="search"
          class="form-control form-control-dark"
          placeholder="Buscar filme..."
          id="texto-busca"
        />
      </form>
      <div class="text-end">
        <button
          onclick="buscar()"
          type="button"
          class="btn btn-outline-light me-2"
        >
          Pesquisar
        </button>
      </div>
    </div>
  </div>
</header>
<script>
  function buscar() {
    var texto = document.getElementById("texto-busca").value;
    window.location.href = "/filmes?texto=" + texto;
  }
</script>
